@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap");

.title {
  color: #a45603;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
}

* {
  color: #a45603;
  text-align: center;
}

h3,
h5 {
  color: #c91616;
}
input,
label {
  display: flex;
  color: #a45603;
}
ul label {
  color: aliceblue;
}
